<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title boxbox10
        link(rel="stylesheet", href="/css/styles.css")
    body
        .top
            .top__col1
            .top__col2
        .under
            .under__col1
            .under__col2